header>div {
    background: url("./assets/img/fondo.svg"), url("assets/img/bg.png");
    background-position-x: left, right;
    background-repeat: no-repeat, repeat-y;
    background-size: auto, 70%;
    padding-bottom: 50px;
}

.portada {
    border-radius: 10px;
}

.especial {
    background: #171a1c;
}

.especial-a {
    background: url("assets/img/bg-3.png") #171a1c;
    background-position-x: center;
    background-repeat: repeat-y;
    background-size: contain;
}

.fondo-3 {
    background: url("assets/img/bg2.png");
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.bg-dark-5 {
    background: #171a1c;

}

#map {
    display: flex;
    padding: 40px 0;
    justify-content: center;
}

#map iframe {
    width: 100%;
}

footer>div>p.border-top {
    border: none !important;
    color: transparent;
    margin: 0 !important;
    height: 0;
}

#b-menu {
    border-color: transparent;
}

@media only screen and (max-width: 992px) {

    header>div {
        text-align: center;
        position: relative;
        padding-bottom: 100px !important;
    }

    header>div button {
        position: absolute;
        bottom: 0;
        left: 41%;
        margin: 30px 0;
    }

    .libros {
        width: 70%;
        height: 60%;
    }
    
    .bg-dark-5 {
        padding-bottom: 20px !important;
        height: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .portada {
        width: 70%;
        height: 70%;
    }

    .galeria {
        height: 350px;
    }

    .galeria-b {
        display: block !important;
    }

    .galeria-b>.img-s {
        width: 0px !important;
        height: 0px !important;
    }

    .galeria-b>.img-p {
        width: 100% !important;
    }

    .libros {
        width: 60%;
        height: 40%;
    }

    .bg-dark-5:nth-child(1) {
        width: 0;
        height: 0;
        padding: 0 !important;
        margin: 0 !important;
        color: transparent;
    }

    .bg-dark-5:nth-child(2) {
        width: 100% !important;
    }

    footer>div {
        width: 70% !important;
        text-align: center;
    }

    footer>div>div>div>div.d-flex {
        justify-content: center;
        margin-bottom: 40px;
    }

    .texto-final {
        position: relative;
    }

    footer>div>div>div>p.border-top {
        position: absolute;
        color: transparent;
        border: none !important;
    }

    footer>div>p.border-top {
        border-top: 1px solid white !important;
        color: #fff;
        margin-top: 20px !important;
        height: 100%;
    }

    footer div ul {
        justify-content: center;
    }

    footer .especial {
        width: 100% !important;
    }
}

@media only screen and (max-width: 576px) {
    header>div {
        background-repeat: no-repeat, repeat-y;
        background-size: auto, 150%;
    }

    .galeria {
        height: 50%;
    }

    .libros {
        width: 80%;
        height: 40%;
    }
}